<div class="main wrapper">
  <div class="filter btn-group">
    <button class="btn active">最新</button>
    <button class="btn">最受欢迎</button>
  </div>
  
  <section id="messages">
  <% @messages.each do |message| %>
    <article class="item">
      <h2><%= message.title %></h2>
      <%= image_tag message.images %>
      <div class="cnt">
        <%= truncate(message.content, length: 120) %>
      </div>
      <p class="more"><%= link_to "阅读全文", "#" %></p>
    </article>
  <% end %>
  </section>

</div>

<script type="text/javascript">
  var $container = $('#messages');

  $container.imagesLoaded( function(){
    $container.masonry({
      itemSelector : '.item',
      gutterWidth : 20
    });
  });
</script>
