<!DOCTYPE html>
<html>
<head>
  <title>PublicWeixin</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
 <div class="navbar-inner">
   <div class="wrapper">
     <a class="brand" href="./index.html">Knewstar</a>
     <div class="nav-collapse collapse">
       <ul class="nav">
         <li class="">
           <a href="/">首页</a>
         </li>
         <!-- <li class=""> -->
         <!--   <a href="/signin">登录</a> -->
         <!-- </li> -->
         <!-- <li class=""> -->
         <!--   <a href="/signup">注册</a> -->
         <!-- </li> -->
       </ul>
     </div>
   </div>
 </div>
</div>

<%= yield %>

</body>
</html>
